:root {
  --index-size: calc(1vh+1vw);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
}

.page {
  position: absolute;
  inset: 0;
}

.parallax {
  position: relative;
  height: 100%;
}
.parallax__montain {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}
.parallax__montain_1 {
  background: url(../image/m_1.png) bottom center/cover no-repeat;
}
.parallax__montain_2 {
  background: url(../image/m_2.png) bottom right/35% no-repeat;
  z-index: 1;
}
.parallax__montain_3 {
  background: url(../image/m_3.png) bottom left/100% no-repeat;
  z-index: 1;
}
.parallax__fog {
  background: url(../image/fog_1.png) center bottom/100% no-repeat;
  position: fixed;
  -webkit-transform: translate3d();
          transform: translate3d();
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.content {
  position: relative;
}
.content__body {
  max-width: 60%;
  margin: 0 auto;
}
.content__image {
  max-width: calc(var(--index-size) * 60);
  width: 100%;
  padding-bottom: calc(var(--index-size) * 30);
  margin: 0 auto;
  display: block;
}
.content__image::before {
  content: "";
  width: 10px;
  height: 100vh;
  background: #7A7A7A;
}
.content__article {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
  margin: 0 auto;
}
.content__article p {
  color: rgb(129, 129, 129);
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #7A7A7A;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .parallax__montain {
    height: var(--app-height) !important;
  }
}